/* 
    CSS for Chicago website
  
*/

body {
   border:0;
   margin: 0;
   padding: 0;
}

html {
  font-family: Helvetica, Arial,
  "Luxi Sans", sans-serif;
}
 
 
.topSection {
 
}

.topSectionNavDiv {
  height: 100%;
}

#topSectionNav {
  z-index: 999;  
  text-align: center;
  position: fixed;
  width: 100%;
  overflow: hidden; 
  background: linear-gradient(255deg,black,gray,black, gray );
  border: 0;
}

#topSectionNav > ul{
  list-style: none; 
  font: 20px;
  display: inline-block; 
}
   
 
 #topSectionNav > ul li{
   float: left;  
  position: relative;   
} 
 
#topSectionNav > ul li:nth-child(3) a {
   color: red;
}

#topSectionNav > ul a{
	 height: 25px;  
	 padding: 0 25px;  
	opacity: .7;
	text-decoration: none;
	color: white;
	font: bold 24px;
}

 #topSectionNav > ul li:hover {
    border-bottom: 1px solid red;

}

 .hide {
   display: none; 
 }
 
 .topMarquee {
    z-index: 1;  
    min-height: 1000px; 
    min-width: 1200px; 
    background-size: cover; 
    background-repeat: no-repeat; 
   /* background-attachment: fixed;*/ 
    clear: both; 
    position: relative;  
 }
 
 .topMarqueeMainImg {
   background-image: url(../images/MarqueeMain.jpg);  
 }
  
 .topMarqueeBusinessImg {
    background-image: url(../images/MarqueeBusiness.jpg);  
 }
   
 .topMarqueeCultureImg {
     background-image: url(../images/MarqueeCulture.jpg);  
 }
    
 .topMarqueeEnvironmentImg {
      background-image: url(../images/MarqueeEnvironment.jpg);  
 }
     
 .topMarqueeHousingImg {
      background-image: url(../images/MarqueeHousing.jpg);  
 }
     
 .topMarqueeSocialImg {
      background-image: url(../images/MarqueeSocial.jpg);  
 }
    
 .topMarqueeCivicImg {
      background-image: url(../images/MarqueeCivic.jpg);  
 } 
    
 .topMarqueeEducationImg {
      background-image: url(../images/MarqueeEducation.jpg);  
 }  
   
 .topMarqueeHealthImg {
      background-image: url(../images/MarqueeHealth.jpg);  
 }   
 
 .topMarqueeTitle {
    padding: 0px;
    margin: 0;
    background: linear-gradient(180deg,linen,cadetblue  );
    z-index: 100;
    position:absolute;    
    color:black;
    left:50px;
    top:300px;
    font: 20px;
  }
.topMarqueeSubTitle {
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg,linen,cadetblue  );
    z-index: 100;
    position:absolute;    
    color:black;
    left:50px;
    top:390px;
    font: 18px;
  }  
  
 
#topMarqueeNav {
 
    padding-right: 15px;
    margin: 0;
    background: linear-gradient(180deg,linen,cadetblue  );
    z-index: 100;
    position:absolute;    
    list-style: none; 
    color: black;
    right: 0px;
    top:300px;
    font: 20px;
    text-align: right;
 } 
 
 #topMarqueeNav > ul a{ 
   width: 100%;
    color: black;
 }
 
 
 .currentLink {
     font: bold 22px;
 }
 
 #topMarqueeNav > ul a.currentLink:after {
   content: " -";
   color: red;
}  	
  
 #topMarqueeNav li {
    list-style: none; 
 }
 
 #topMarqueeScrollMessage {
     z-index: 100;
     position:absolute;    
     text-align: center;
     background: linen;
     color: black;
     width: 100%;
     bottom: 15px;
     font: 30px bold;
     transform: rotate(90deg);        /* IE  */
     -webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
 }
 
 .bottomSectionBackground {
      z-index: 999;   
       min-height: 1400px;  
       min-width: 1000px; 
       background-size: cover;  
       background-repeat: no-repeat;  
       background: cadetBlue;  
 }
 
#bottomSection {
   margin: 0;
   padding: 0;
   border: 0; 
   clear: both; 
   position: relative;  
  }
  
  figure {
   margin: 0;
   padding: 0;
  
   /*border: 2px solid darkslategray;*/ 
 
 }
 
  

.bottomNewsArticle {
   margin-right: 0;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 25px; 
   padding: 0;
   border: 0;
   text-align: left;
   width: 30%;
   color: linen; 
   overflow: hidden;
   display: inline-block;
   float: left;
}
 

.bottomNewsArticleReg {
   margin: 0;
   padding-top: 5px;
   font: 18px;
 }

.bottomNewsArticleBold {
   margin: 0;
   font: 18px bold;
   border-bottom: 1px solid darkslategray;
   padding-bottom: 5px;
   padding-top: 5px;
 }
 
.bottomNewsArticleDate {
   margin-left: 0;
   padding-top: 10px;
   padding-bottom: 0px;
   border-top: 1px solid darkslategray;
   font: 18px;
   height: 3px;
}

.bottomNewsArticleImg {
   max-width: 300px;
   max-height: 300px;
   margin: 0;
   padding: 0;
    width: 100%;
   height: 100%;  
   text-align: left;
   font: 18px;
}

 